<div class="container-fluid">
  <div class="row">
    <div class="col" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">Initial</p>
        <img src="{{initialArtist.image}}" class="card-img-top" alt="{{finArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{initialArtist.name}}</h6>
        </div>
      </div>
    </div>
    <div class="col-6" align="center">
      <p class="spotiTitle">REL ARTIST PAGE</p>
      <p class="spotiText">GO GO GO</p>
    </div>
    <div class="col" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">Final</p>
        <img src="{{finArtist.image}}" class="card-img-top" alt="{{finArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{finArtist.name}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    {{#each relatedArtistFromSpoti}}
    <div class="card" style="width: 10rem;">
      <img src="{{this.images.2.url}}" class="card-img-top" alt="{{this.name}}">
      <div class="card-body">
        <h6 class="card-title">{{this.name}}</h6>
      </div>
    </div>
    {{/each}}

  </div>
</div>