{{!-- {{#each initialArtist}} --}}
<div class="container-fluid">
  <div class="row">
    <div class="col" align="center">
      <div class="card" style="width: 15rem;">
        <p class="card-title">Initial</p>
        <img src="{{initialArtist.image}}" class="card-img-top" alt="{{initialArtist.image}}">
        <div class="card-body">
          <h5 class="card-title">{{initialArtist.name}}</h5>
        </div>
      </div>
    </div>
    <div class="col-6" align="center">
      <p class="spotiTitle">HERE ARE YOUR INITIAL AND FINAL ARTIST</p>
      <p class="spotiText">How many steps do you need?</p>
      <button type="button" class="btn btn-outline-success btn-lg">START GAME</button>
    </div>
    <div class="col" align="center">
      <div class="card" style="width: 15rem;">
        <p class="card-title">Final</p>
        <img src="{{finalArtist.image}}" class="card-img-top" alt="{{finalArtist.image}}">
        <div class="card-body">
          <h5 class="card-title">{{finalArtist.name}}</h5>
          <a href="#" class="btn btn-outline-info btn-sm">Refresh</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- {{/each}} --}}