{{#each artist}}
<div class="container">
  <div class="row">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="#" class="btn btn-primary">Artista Inicial</a>
  </div>
</div>
    </div>
    <div class="col">
      AQUI VAN LOS ARTISTAS RELACIONADOS
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
  <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="#" class="btn btn-primary">Artista Final</a>
  </div>
</div>
    </div>
  </div>
</div>
{{/each}}