<div class="container-fluid">
  <div class="row">
    <div class="col" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">Initial</p>
        <img src="{{initArtist.image}}" class="card-img-top" alt="{{initArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{initArtist.name}}</h6>
        </div>
      </div>
    </div>
    <div class="col-6" align="center">
      <h1>CONGRATULATIONS!</h1>
      <img class="endImg" src="https://pa1.narvii.com/6944/037171fb49a820725839a6903db707376758bc72r1-500-226_hq.gif">
      <p>This is your path:</p>
      <p class="pathArtists">{{initArtist.name}}</p>
      {{#each artistArray}}
      <p class="pathArtists">{{this.name}}</p>
      {{/each}}
    </div>
    <div class="col" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">Final</p>
        <img src="{{endArtist.image}}" class="card-img-top" alt="{{endArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{endArtist.name}}</h6>
        </div>
      </div>
    </div>
  </div>

</div>
</div>