<div class="container">
  <div class="row">
    <div class="col-3" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">From</p>
        <img src="{{initialArtist.image}}" class="card-img-top" alt="{{initialArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{initialArtist.name}}</h6>
        </div>
      </div>
    </div>
    <div class="col-6" align="center">
      <h3>Choose one related of {{initialArtist.name}} to make the path to {{finArtist.name}}</h3>
      <p class="spotiText">How many steps do you need?</p>
    </div>
    <div class="col-3" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">To</p>
        <img src="{{finArtist.image}}" class="card-img-top" alt="{{finArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{finArtist.name}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="related-cards">
  <div class="row" align="center">
    <div class="card-group" align="center">
      {{#each relatedArtistFromSpoti}}
      <form method="POST" action="/steps/{{this.id}}&{{../sessionId}}">
        <div class="card d-flex justify-content-center" align="center">
          <img class="card-img-top" src="{{this.images.0.url}}" alt="{{this.name}}" align="center">
          <div class="card-body">
            {{!-- <h6 class="card-title">{{this.name}}</h6> --}}
            <button type="submit" class="btn btn-outline-light rel-button">{{this.name}}</button>
          </div>
        </div>
      </form>
      {{/each}}
    </div>
  </div>
</div>