<div class="container">
  <div class="row">
    <div class="col-3" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">From</p>
        <img src="{{initArtist.image}}" class="card-img-top" alt="{{initArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{initArtist.name}}</h6>
        </div>
      </div>
    </div>
    <div class="col-6" align="center">

      <h3>Current path: {{artistArray.length}} steps</h3>

      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {{#each artistArray}}
            <form method="POST" action="/off/{{this.idSpotify}}&{{../sessionId}}">
              <li class="breadcrumb-item" aria-current="page"><button type="submit" class="btn btn-link button-noline">⇨
                  {{this.name}}</button></li>
            </form> {{/each}}
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-3" align="center">
      <div class="card" style="width: 10rem;">
        <p class="card-title-2">To</p>
        <img src="{{endArtist.image}}" class="card-img-top" alt="{{endArtist.name}}">
        <div class="card-body">
          <h6 class="card-title">{{endArtist.name}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="related-cards">
  <div class="col-12" align="center">
    <p>Choose your next step:</p>
  </div>
  <div class="row" align="center">
    <div class="card-group" align="center">
      {{#each relatedArtistFromSpoti}}
      <form method="POST" action="/steps/{{this.id}}&{{../sessionId}}">
        <div class="card d-flex justify-content-center" align="center">
          <img class="card-img-top" src="{{this.images.0.url}}" alt="{{this.name}}" align="center">
          <div class="card-body">
            {{!-- <h6 class="card-title">{{this.name}}</h6> --}}
            <button type="submit" class="btn btn-outline-light rel-button">{{this.name}}</button>
          </div>
        </div>
      </form>
      {{/each}}



    </div>
  </div>
</div>